.sjs {
  display: flex;
  gap: 5px;
  justify-content: center;
  margin: 50px;
}

.sjs h3 {
  text-align: justify;
}

@media screen and (max-width:768px){
  .sjs{
    display: grid;
    grid-template-columns: repeat(1,1fr);
  }
}