
.header{
    display: flex;
    align-items: center;
}
.active{
    background-color: aquamarine;   
}
.navLink a{
    margin-left: 10px;
    font-size: 20px;
    text-decoration: none;

}
.link a:hover{
    background-color: aqua;
}